<div class="col-md-12" ng-controller="registerUserCtrl as register">
<form role="form" name="register.formRegisterUser"  ng-submit="register.add()" novalidate class="simple-form">

<h2>Camper </h2>    
 <div class="panel-group">
     <div class="panel panel-default">
         <div class="panel-heading">Info</div>
          <div class="panel-body">
             <div class="form-group has-feedback">
                         <label>Name</label>
                         <input type="text" class="form-control" name="firstname "ng-model="register.user.firstname" required="" />
                 <span ng-messages="register.formRegisterUser.firstname.$error" ng-if="register.formRegisterUser.firstname.$touched" class="text-danger">
                  <p ng-message="required">Your name is required.</p>
                 
                 </span>
              
            
              </div>
               <div class="form-group has-feedback">
                       <label>Surname</label>
                       <input type="text" class="form-control" name="surname" ng-model="register.user.surname" required="" />
                     <span ng-messages="register.formRegisterUser.surname.$error" ng-if="register.formRegisterUser.surname.$touched" class="text-danger">
                    <p ng-message="required">Your surname is required.</p>
                   </span>
              </div>
              <div class="row">    
                         <div class="form-group has-feedback col-md-6">
                        <label>Date of Birth</label>
                          <input type="text" class="form-control" name="birthdate" />
                           <span ng-messages="register.formRegisterUser.birthdate.$error" ng-if="register.formRegisterUser.birthdate.$touched" class="text-danger">
                            <p ng-message="required">Your birthdate is required.</p>
                           </span>
                            </div>
                  
                  
                         <div class="form-group has-feedback col-md-6">
                               <label>Age</label>
                               <input type="number" class="form-control" name="age" ng-model="register.user.age" required="" />
                            <span ng-messages="register.formRegisterUser.age.$error" ng-if="register.formRegisterUser.age.$touched" class="text-danger">
                            <p ng-message="required">Your age is required.</p>

                            </span>
                          </div>
                  
                   
              
              
              </div>
                  
               <div class="form-group has-feedback">
                   <label>Gender</label>
                   <div>
                            <label class="checkbox-inline">
                                       <input type="checkbox" ng-model="register.user.gender.male">Male</label>
                            <label class="checkbox-inline">
                                       <input type="checkbox" ng-model="register.user.gender.female">Female</label>

                           <span ng-messages="register.formRegisterUser.gender.$error" ng-if="register.formRegisterUser.gender.$touched" class="text-danger">
                           <p ng-message="required">Your gender is required.</p>

                           </span>
                    </div>
                     
                 
              </div>
               <div class="form-group">
                       <label>Contact number</label>
                       <input type="number" class="form-control" ng-model="register.user.contactno"/>
              </div>    

              <div class="form-group has-feedback">
                 <label>Physical Address</label>
                 <textarea cols="2" rows="3" class="form-control" name="address" ng-model="register.user.address" required="" ></textarea>
                <span ng-messages="register.formRegisterUser.address.$error" ng-IF="register.formRegisterUser.address.$touched" class="text-danger">
                   <p ng-message="required">Your address is required.</p>
                  
                  </span>
             
              </div>
             

               <div class="form-group">
                       <label>Postal Address</label>
                       <textarea cols="2" rows="3" class="form-control" ng-model="register.user.postaladdress"></textarea>
              </div>
              
              <div class="form-group">
                       <label>Church you are from</label>
                       <select  class="form-control" ng-model="register.user.church">
                   
                    <option ng-repeat="option in register.churches" value="{{option['@rid']}}">{{option.churchname}}</option>
                   
                       </select>
              </div>
              
               <div class="form-group has-feedback" ng-class="{'has-error':churches.formChurch.churchprovince.$invalid}">
                 <label>Province</label>
                 <select class="form-control"  name="churchprovince" ng-model="churches.church.province"required="">
                  <option ng-repeat="option in churches.provinces" value="{{option['@rid']}}" option.provinceName}}</option>
                     <!-- <option value="Eastern Cape">Eastern Cape</option>
                    <option value="Free State">Free State</option>
                     <option value="Gauteng">Gauteng</option>
                     <option value="KwaZulu-Natal">KwaZulu-Natal</option>
                     <option value="Limpopo">Limpopo</option>
                     <option value="Mpumalanga">Mpumalanga</option>
                     <option value="North West">North West</option>
                     <option value="Northern Cape">Northern Cape</option>
                     <option value="Western Cape">Western Cape</option>-->
                </select>
           <span ng-messages="churches.formChurch.churchprovince.$error" ng-if="churches.formChurch.churchprovince.$touched" class="text-danger">
                    <p ng-message="required">Province is required.</p>
                   </span>
        </div> 
              
               <div class="form-group">
                       <label>Church you are from</label>
                       <select  class="form-control" ng-model="register.user.church">
                   
                    <option ng-repeat="option in register.churches" value="{{option['@rid']}}">{{option.churchname}}</option>
                   
                       </select>
              </div>
        
     </div>
</div>
    
<h2>T-Shirst </h2>    
 <div class="panel-group">
     <div class="panel panel-default">
         <div class="panel-heading"></div>
          <div class="panel-body">
             <div class="form-group has-feedback">
                 
                 
                 <label class="checkbox-inline">
							   <input type="checkbox" name="tshirtneeded" ng-model="register.user.tshirt"  >Want a t-shirt</label>

                 
              </div>
               <div class="form-group has-feedback"  >
                       <label>Size</label>
                    <label class="checkbox-inline">
							   <input type="radio" name="tshirstsize" ng-model="register.user.tshirt.size" value="S" ng-disabled="!register.user.tshirt">S</label>
                   <label class="checkbox-inline">
							   <input type="radio" name="tshirstsize" ng-model="register.user.tshirt.size" value="M" ng-disabled="!register.user.tshirt">M</label>
                   <label class="checkbox-inline">
							   <input type="radio" name="tshirstsize" ng-model="register.user.tshirt.size" value="L" ng-disabled="!register.user.tshirt">L</label>
                   <label class="checkbox-inline">
							   <input type="radio" name="tshirstsize" ng-model="register.user.tshirt.size" value="XL" ng-disabled="!register.user.tshirt">XL</label>
                   <label class="checkbox-inline">
							   <input type="radio" name="tshirstsize" ng-model="register.user.tshirt.size" value="XXL" ng-disabled="!register.user.tshirt">XXL</label>
                   <label class="checkbox-inline">
							   <input type="radio" name="tshirstsize" ng-model="register.user.tshirt.size" value="XXXL" ng-disabled="!register.user.tshirt">XXXL</label>
                     <span ng-messages="register.formRegisterUser.surname.$error" ng-if="register.formRegisterUser.surname.$touched" class="text-danger">
                    <p ng-message="required">Your surname is required.</p>
                   </span>
              </div>
               
         </div>
     </div>
</div>
    
<h2>Transport </h2>    
 <div class="panel-group">
     <div class="panel panel-default">
         <div class="panel-heading"></div>
          <div class="panel-body">
             <div class="form-group has-feedback">
                          <label class="checkbox-inline">
							   <input type="checkbox" ng-model="register.user.transport.needed">I will need transport</label>
                 <span ng-messages="register.formRegisterUser.firstname.$error" ng-if="register.formRegisterUser.firstname.$touched" class="text-danger">
                  <p ng-message="required">Your name is required.</p>
                 
                 </span>
              
            
              </div>
               <div class="form-group has-feedback" ng-disabled="!register.user.transport.needed" >
                        <label class="checkbox-inline">
							   <input type="radio" name="transportneeded" ng-model="register.user.transport.from" ng-disabled="!register.user.transport.needed">Cape Town</label>
                     <label class="checkbox-inline">
							   <input type="radio" name="transportneeded" ng-model="register.user.transport.from" ng-disabled="!register.user.transport.needed">Gauteng/Pretoria</label>
                     <label class="checkbox-inline">
							   <input type="radio" name="transportneeded" ng-model="register.user.transport.from" ng-disabled="!register.user.transport.needed">Durban</label>
                     <label class="checkbox-inline">
							   <input type="radio" name="transportneeded" ng-model="register.user.transport.from" ng-disabled="!register.user.transport.needed">R/Bay and Margate</label>
                   
                     <span ng-messages="register.formRegisterUser.surname.$error" ng-if="register.formRegisterUser.surname.$touched" class="text-danger">
                    <p ng-message="required">Your surname is required.</p>
                   </span>
              </div>
               
         </div>
     </div>
</div>     

<h2>Parent/Gardian Info</h2>
    <div class="panel-group">
           <div class="panel panel-default">
                 <div class="panel-heading">Parent 1</div>
                   <div class="panel-body">
                 
                     <div class="form-group has-feedback">
					       <label>Name</label>
					       <input type="text" name="parentname1" class="form-control" ng-model="register.parent1.name" required="" />
                           <span ng-messages="register.formRegisterUser.parentname1.$error" ng-if="register.formRegisterUser.parentname1.$touched" class="text-danger">
                    <p ng-message="required">Parent/Gaurdian name is required.</p>
                   </span>
					  </div>
					   <div class="form-group has-feedback">
							   <label>Surname</label>
							   <input type="text" name="parent1surname" class="form-control" ng-model="register.parent1.surname"  required=""/>
                           <span ng-messages="register.formRegisterUser.parent1surname.$error" ng-if="register.formRegisterUser.parent1surname.$touched" class="text-danger">
                    <p ng-message="required">Parent/Gaurdian surname is required.</p>
                   </span>
					  </div>
					   <div class="form-group has-feedback">
									   <label>Relation to Camper</label>
									   <input type="text" name="parent1relation" class="form-control" ng-model="register.parent1.relation" required="" />
					    <span ng-messages="register.formRegisterUser.parent1relation.$error" ng-if="register.formRegisterUser.parent1relation.$touched" class="text-danger">
                    <p ng-message="required">Parent/Gaurdian relation to camper is required.</p>
                   </span>
                       
                       </div>
                        <div class="form-group has-feedback">
						   <label>Home Tel</label>
						   <input type="text" class="form-control" name="parent1hometel" ng-model="register.parent1.hometel" required="" />
                           <span ng-messages="register.formRegisterUser.parent1hometel.$error" ng-if="register.formRegisterUser.parent1hometel.$touched" class="text-danger">
                    <p ng-message="required">Parent/Gaurdian telephone number is required.</p>
                   </span>  
                            
                            
					  </div>
						<div class="form-group">
							   <label>Work Tel</label>
							   <input type="text" class="form-control" ng-model="register.parent1.worktel" />
					  </div>
					  
					</div>
        </div>
         <div class="panel panel-default">
          <div class="panel-heading">Parent 2</div>
                <div class="panel-body">
                  
                     <div class="form-group">
					       <label>Name</label>
					       <input type="text" class="form-control" ng-model="register.parent2.name" />
					  </div>
					   <div class="form-group">
							   <label>Surname</label>
							   <input type="text" class="form-control" ng-model="register.parent2.surname" />
					  </div>
					   <div class="form-group">
									   <label>Relation to Camper</label>
									   <input type="text" class="form-control" ng-model="register.parent2.relation" />
					   </div>
						<div class="form-group">
							   <label>Work Tel</label>
							   <input type="text" class="form-control" ng-model="register.parent2.worktel" />
					  </div>
					   <div class="form-group">
						   <label>Home Tel</label>
						   <input type="text" class="form-control" ng-model="register.parent2.hometel" />
					  </div>
					</div> 
        </div>
          <div class="panel panel-default">
             <div class="panel-heading">If not available in a emergency please notify </div>
                <div class="panel-body">
                  
                     <div class="form-group has-feedback">
					       <label>Name</label>
					       <input type="text" name="emerigency1name" class="form-control" ng-model="register.emerigency1.name" required=""/>
                          <span ng-messages="register.formRegisterUser.emerigency1name.$error" ng-if="register.formRegisterUser.emerigency1name.$touched" class="text-danger">
                    <p ng-message="required">Emergency contanct name is required.</p>
                   </span>
					  </div>
					   <div class="form-group has-feedback">
							   <label>Telephone</label>
							   <input type="text" name="emerigency1telephone" class="form-control" ng-model="register.emerigency1.telephone" required=""/>
                            <span ng-messages="register.formRegisterUser.emerigency1telephone.$error" ng-if="register.formRegisterUser.emerigency1telephone.$touched" class="text-danger">
                    <p ng-message="required">Emergency contanct phone number is required.</p>
                   </span>
					  </div>
					   <div class="form-group">
									   <label>Name</label>
									   <input type="text" class="form-control" ng-model="register.emerigency2.relation" />
					   </div>
						<div class="form-group">
							   <label>Telephone</label>
							   <input type="text" class="form-control" ng-model="register.emerigency2.telephone" />
					  </div>
					  
				</div>  
        </div>
    </div>
    
    
    
    <h2>Medical Info</h2>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">Medical History of Camper (please tick and provide extra information)</div>
            
            <div class="panel-body">
					  <label class="checkbox-inline"> <input type="checkbox" ng-model="register.medicalhistory.astma" /> Astma</label>
                      <label class="checkbox-inline">  <input type="checkbox" ng-model="register.medicalhistory.convultions" /> Convultions</label>
					 <label class="checkbox-inline">
                                           <input type="checkbox" ng-model="register.medicalhistory.heartmurmer">Heart Murmer</label>
				
					
							   <label class="checkbox-inline">
							   <input type="checkbox" ng-model="register.medicalhistory.diabetes">Diabetes</label>
					
                      
					  
				</div>
            
              
            </div>
         <div class="panel panel-default">
            <div class="panel-heading">Allergies</div>
                <div class="panel-body">
                  
                  
					       <label class="checkbox-inline">
                           <input type="checkbox"  ng-model="register.allergies.stings">Stings</label>
					
							   <label  class="checkbox-inline">
							    <input type="checkbox"  ng-model="register.allergies.hayfever">Hay Fever</label>
					 
							   <label class="checkbox-inline">
							   <input type="checkbox" ng-model="register.allergies.penicillin">Penicillin</label>
					 
					   <div class="checkbox">
									   <label>Food (please spesify)</label>
									   <input type="checkbox" name="allergiesfoods"  ng-model="register.allergies.foods">
                                <textarea cols="2" rows="3" class="form-control" ng-model="register.emerigency2.fooddetails"
                                 ng-disabled="!register.allergies.foods"         
                                          ></textarea>
					   </div>
						
                        <div class="checkbox">
							   <label>Other:</label>
							<input type="checkbox" name="allergiesother"   ng-model="register.allergies.other">  
                           
                             <textarea cols="2" rows="3" class="form-control" ng-model="register.allergies.otherdetails" ng-disabled="!register.allergies.other">
                            </textarea>
					  </div>
					  
				</div>   
        </div>
         <div class="panel panel-default">
             
            <div class="panel-heading">Medications Camper is Currently Taking (Please be Specific)</div>       
            <div class="panel-body">
                  
                     <div class="form-group">
					       <label>Details</label>
					       <textarea cols="2" rows="3" class="form-control" ng-model="register.church.postaladdress"></textarea>
					  </div>	  
		      </div> 
        </div>     
         <div class="panel panel-default">
             <div class="panel-heading">Medical Aid Information</div>
             <div class="panel-body">
                 
                     <div class="form-group">
					       <label>Medical aid name</label>
					      
                          <input type="text" class="form-control" ng-model="register.mediacal.aid" />
					  </div>
              <div class="form-group">
					       <label>Medical plan</label>
					     
                    <input type="text" class="form-control" ng-model="register.mediacal.plan" />
                  
					  </div>
              <div class="form-group">
					       <label>Main member name</label>
					     
                    <input type="text" class="form-control" ng-model="register.mediacal.membername" />
					  </div>
              <div class="form-group">
					       <label>Relation to camper</label>
					       
                    <input type="text" class="form-control" ng-model="register.mediacal.relation" />
					  </div>
              <div class="form-group">
					       <label>Medical aid no.</label>
					     
                    <input type="text" class="form-control" ng-model="register.mediacal.medicalaidno" />
					  </div>
              <div class="form-group">
					       <label>Campers benificary .</label>
					       
                    <input type="text" class="form-control" ng-model="register.mediacal.benificaryno" />
					  </div>			   			  
		 </div>
        </div>
    </div>
    <h2>Other </h2>
    <div class="panel-group">
        <div class="panel panel-default">
            
                  <div class="panel-heading">Info</div>
            <div class="panel-body">
                 <div class="form-group">
                       <label>Details</label>
                       <textarea cols="2" rows="3" class="form-control" ng-model="register.mediacal.aid"></textarea>
                  </div>
              
            </div>		   
					  
		</div>  
        
      </div>
  

      <button type="submit" class="btn btn-default">Submit</button>

 </form>

</div>
